@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

html, body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #333;
	height: 100%;
	word-break: keep-all;
}

body {
	overflow-x: hidden;
	position: relative;
	margin: 0;
}

html {
	font-size: 100%;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 87.5%;
	}
}

button, textarea, input, select {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0rem;
	color: inherit;
	padding: 0;
}

form {
	margin: 0;
}

button {
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
	margin: 0;
}

ol, ul {
	list-style: none;
}

p, ul, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	image-rendering: -moz-pixelated;         /* Firefox */
	image-rendering:   -o-pixelated;         /* Opera */
	image-rendering: pixelated;
	max-width: 100%;
}

/**********************************************************************************
	[media query examples]
	@media (max-width: 575px) { }
	@media (max-width: 767px) { }
	@media (max-width: 991px) { }
	@media (max-width: 1199px) { }

	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
**********************************************************************************/

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.container {
	width: 1400px;
	margin: 0 auto;
}

.container-full {
	width: 100%;
	position: relative;
}

@media (max-width: 1400px) {
	.container {
		width: 100%;
	}
}

.m_ver {
	display: none;
}

@media screen and (max-width: 767px) {
	.m_ver {
		display: block;
	}
	.pc_ver {
		display: none;
	}
}

.img_box {
	line-height: 0;
}

/******************************
	header
******************************/

/*header*/

#header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9;
}

#header .in_header {
	width: 1742px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}

@media (max-width: 1742px) {
	#header .in_header {
		width: 100%;
	}
}

#header.scroll {
	background: rgba(0, 0, 0, 0.1);
}

#header.scroll .in_header {
	height: 100px;
}

@media (max-width: 420px) {
	#header.scroll .in_header, 
	#header .in_header {
		height: 70px;
	}
}

#header .in_header .logo {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

body.nav-on #header .in_header .logo {
	z-index: -1;
}

@media (max-width: 420px) {
	#header .in_header .logo .img_box img {
		width: 50%;
	}
}

/*mobile header*/
#header .nav .nav-icon {
	display:none;
}

#header .nav .nav-icon:after,
#header .nav .nav-icon:before,
#header .nav .nav-icon div {
  background-color: #333;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  margin: 6px 0;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#header .nav .nav-icon:before {
	margin-top:0;
}

#header .nav .nav-icon:after {
	margin-bottom:0;
}

#header .nav .nav-icon.active:before {
  transform: translateY(8px) rotate(135deg);
  -moz-transform: translateY(8px) rotate(135deg);
  -webkit-transform: translateY(8px) rotate(135deg);
  background-color: #fff;
}

#header .nav .nav-icon.active:after {
  transform: translateY(-10px) rotate(-135deg);
  -moz-transform: translateY(-10px) rotate(-135deg);
  -webkit-transform: translateY(-10px) rotate(-135deg);
  background-color: #fff;
}

#header .nav .nav-icon.active div {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

@media (max-width: 1024px) {
	#header .nav .nav-icon {
		display:inline;
		width: 30px;
		cursor:pointer;
		position:fixed;
		right:10px;
		z-index:100;
		padding-top:25px;
	}
	#header .navbar {
		position:fixed;
		width:calc(70% - 30px);
		height:100%;
		right:-70%;
		background:#333;
		z-index:99;		
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		margin:0;
		padding: 100px 15px 0;
	}
	#header .navbar.active {
		right:0;
	}
	#header .nav .navbar li a {
		display:block;
		color:#fff;
		border-bottom:1px solid #eee;
		position: relative;
	}
	#header .nav .navbar li {
		display: block;
		margin:0;
		line-height:3em;
	}
	.in_header.active .sub-bg {
		width: 100%;
		height: calc(100%);
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(20, 20, 20, 0.67);
		z-index: 99;
	}
}

/*footer*/

#footer {
	background-color: #333;
}

#footer .in_footer {
	width: 1400px;
	margin: 0 auto;
	padding: 13px 0;
	text-align: center;
}

@media (max-width: 1400px) {
	#footer .in_footer {
		width: calc(100% - 20px);
		padding: 20px 0;
	}
}

#footer .in_footer {
	font-size: 0.875rem;
	font-weight: 400;
	color: #fff;
}

#footer .in_footer a,
#footer .in_footer img {
	vertical-align: middle;
}

/******************************
	menu
******************************/

/*circle-bg*/

.fixed-bg-circle {
    position: fixed;
    top: -75px;
    right: -75px;
    width: 150px;
    height: 150px;
    background-color: #202020;
    border-radius: 50%;
    z-index: 500;
    pointer-events: none;
    -webkit-transition: transform .8s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: transform .8s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transform: scale(0);
    transform: scale(0);
}

body.nav-on .fixed-bg-circle {
    -webkit-transition: transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transform: scale(50);
    transform: scale(50);
}

.menu_list {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.menu_list li {
	display: inline-block;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;
}


.whoUser {
    background: #3eb1b1;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
}

@media (max-width: 420px) {
	#header .nav .navbar li.whoUser {
		margin-top: 10px;
	}
}

/******************************
	page fix
******************************/

/*circle motion*/

.circle_motion .circle_left {
	position: fixed;
	left: -150px;
	top: 50%;
	transform: translateY(-50%);
}

.circle_motion .circle_right {
	position: fixed;
	right: -150px;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 1820px) {
	.circle_motion .circle_left,
	.circle_motion .circle_right {
		display: none;
	}
}

.circle_motion img {
    -webkit-animation: circle_motion 7s infinite linear;
    -moz-animation: circle_motion 7s infinite linear;
    animation: circle_motion 7s infinite linear;
}

@-webkit-keyframes circle_motion {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes circle_motion {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes circle_motion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*center line*/

.center_line {
	z-index: -1;
	width: 100%;
	border: 1px solid #f3f3f3;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 1380px) {
	.center_line {
		display: none;
	}
}

/******************************
	main
******************************/

.main .container {
	font-size: 0;
	position: relative;
}

.main .main_left {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	background-color: #e6fafb;
	text-align: center;
	height: 100vh;
	position: relative;
	z-index: -1;
}

@media (max-width: 1024px) {
	.main .main_left {
		width: 100%;
		height: 50vh;
	}
}

@media (max-width: 768px) {
	.main .main_left {
		height: 80vh;
	}
}

@media (max-width: 420px) {
	.main .main_left {
		height: 50vh;
	}
}

.main .main_left .img_box {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-animation: company 3s linear infinite;
    -moz-animation: company 3s linear infinite;
    animation: company 3s linear infinite;
	line-height: 0;
}

@media (max-width: 420px) {
	.main .main_left .img_box {
		width: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@-webkit-keyframes company {
    0% {
		margin-top: 0;
    }
    25% {
		margin-top: 20px;
    }
	50% {
		margin-top: 0;
    }
	75% {
		margin-top: -15px;
    }
	100% {
		margin-top: 0;
    }
}

@-moz-keyframes company {
    0% {
		margin-top: 0;
    }
    25% {
		margin-top: 20px;
    }
	50% {
		margin-top: 0;
    }
	75% {
		margin-top: -15px;
    }
	100% {
		margin-top: 0;
    }
}


@keyframes company {
    0% {
		margin-top: 0;
    }
    25% {
		margin-top: 20px;
    }
	50% {
		margin-top: 0;
    }
	75% {
		margin-top: -15px;
    }
	100% {
		margin-top: 0;
    }
}

.main .main_right {
	display: inline-block;
	vertical-align: middle;
	width: 46%;
	padding-left: 4%;
	margin-top: 12.3%;
}

@media (max-width: 1440px) {
	.main .main_right {
		width: 48%;
		padding-left: 2%;
	}
}

@media (max-width: 1024px) {
	.main .main_right {
		width: calc(100% - 20px);
		margin: 150px 0;
		padding: 0 10px;
	}
}

@media (max-width: 420px) {
	.main .main_right {
		margin: 70px 0;
	}
}

.main .main_title {
	position: relative;
}

.main .main_title h1 {
	font-size: 1.375rem;
	font-weight: 900;
	color: #333;
	margin-bottom: 1px;
}

.main .main_title p {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 6.875rem;
	font-weight: 900;
	color: #8eecef;
	opacity: 0.25;
	text-transform: uppercase;
	line-height: 1.1;
	margin-top: 10px;
	z-index: -1;
}

@media (max-width: 1400px) {
	.main .main_title p {
		font-size: 5.625rem;
	}
}

@media (max-width: 420px) {
	.main .main_title p {
		font-size: 3.125rem;
	}
}

.main .main_text {
	font-size: 1.125rem;
	font-weight: 400;
	color: #555;
	margin-bottom: 120px;
}

@media (max-width: 420px) {
	.main .main_text {
		margin-bottom: 30px;
	}
}

.button {
	display: inline-block;
	padding: 20px 50px 20px 20px;
	box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, .1);
	box-sizing: border-box;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	font-size: 0.875rem;
	font-weight: 500;
	color: #333;
	position: relative;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

@media (max-width: 420px) {
	.button {
		padding: 13px 50px 13px 13px;
	}
}

.button:hover {
	background-color: #e6fafb;
}

.button::after {
	content: '';
	display: block;
	width: 9px;
	height: 12px;
	background: url('../images/arrow_right.png');
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

.main .button {
	margin-right: 15px;
}

/******************************
	work
******************************/

.sub {
	background-color: #e6fafb;
}

.title_shadow {
	text-align: center;
	font-size: 7.5rem;
	font-weight: 900;
	color: #feffff;
	opacity: .5;
	text-transform: uppercase;
	padding-top: 200px;
	margin-bottom: -47px;
}

@media (max-width: 420px) {
	.title_shadow {
		font-size: 4.375rem;
		margin-bottom: -25px;
		padding-top: 100px;
	}
}

.sub .sub_container {
	background-color: #fff;
	padding: 100px 0 150px;
	box-sizing: border-box;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .1);
}

@media (max-width: 1400px) {
	.sub .sub_container {
		margin: 0 10px;
	}
}

@media (max-width: 420px) {
	.sub .sub_container {
		padding: 70px 0 100px;
	}
}


.sub_container .sub_title {
	text-align: center;
	margin-bottom: 50px;
}

.sub_container .sub_title h2 {
	font-size: 3.125rem;
	font-weight: 900;
	text-transform: uppercase;
	color: #333;
}

@media (max-width: 420px) {
	.sub_container .sub_title h2 {
		font-size: 2.062rem;
	}
}

.sub_container .sub_title .dot {
	width: 17px;
	height: 17px;
	background-color: #333;
	border-radius: 50%;
	margin: 27px auto 0; 
}

@media (max-width: 420px) {
	.sub_container .sub_title .dot {
		display: none;
	}
}

/*tab*/

.tab_list {
	margin-bottom: 30px;
	font-size: 0;
}

.tab_list > li {
	display: inline-block;
	border: 1px solid #d1d1d1;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 400;
	color: #333;
	margin-right: 10px;
	position: relative;
}

.tab_list li .tab_low {
	position: absolute;
	width: 100%;
	left: 0;
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
	display: none;
	background-color: #fff;
	z-index: 1;
}

.tab_list > li:hover .tab_low {
	display: block;
}

.tab_list li a {
	display: block;
	padding: 13px;
	min-width: 53px;
	box-sizing: border-box;
}

/*work list*/
.work {
	width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.work {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
}

.work_list {
	margin-left: -20px;
	margin-right: -20px;
	font-size: 0;
}

/* .work_list::after {
	content: '';
	display: block;
	clear: both;
} */

.work_list li {
	/* float: left; */
	display: inline-block;
	width: calc(33.3% - 40px);
	margin-left: 20px;
	margin-right: 20px;
    margin-bottom: 27px;
	position: relative;
	overflow: hidden;
}

@media (max-width: 1200px) {
	.work_list {
		margin-left: -10px;
		margin-right: -10px;
	}
	.work_list li {
		width: calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
	}
}

.work_list li .list_hover {
	position: absolute;
	bottom: -372px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.77;
	transition: .2s ease all;
    -webkit-transition: .2s ease all;
}

@media (max-width: 420px) {
	.work_list li .list_hover {
		bottom: 0;
	}
}

.work_list li:hover .list_hover {
	bottom: 0;
}

.work_list .text_box {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 30px;
	box-sizing: border-box;
	text-align: center;
	word-break: keep-all;
	color: #fff;
}

@media (max-width: 420px) {
	.work_list .text_box {
		padding: 0 10px;
	}
}

.list_hover .category {
	font-size: 0.6875rem;
	font-weight: 300;
	text-transform: uppercase;
}

.list_hover .title {
	font-size: 1.5625rem;
	font-weight: 700;
}

@media (max-width: 420px) {
	.list_hover .title {
		font-size: 1rem;
	}
}

.list_hover .text {
	font-size: 0.875rem;
	font-weight: 300;
}

@media (max-width: 420px) {
	.list_hover .text {
		display: none;
	}
}

/*pagination*/

.pagination {
	margin-top: 40px;
}

.pagination .nav-links {
	text-align: center;
}

.pagination .nav-links a,
.pagination .nav-links span {
	display: inline-block;
	width: 32px;
	height: 32px;
	color: #333;
	vertical-align: middle;
	text-align: center;
	font-size: 0.875rem;
	margin: 0 7px;
	padding-top: 5px;
	box-sizing: border-box;
	cursor: pointer;
	text-transform: uppercase;
}

.pagination .nav-links .page-numbers:hover,
.pagination .current {
	background: #333;
	color: #fff !important;
	border-radius: 50%;
}

/******************************
	work detail
******************************/

.detail_container {
	width: 1000px;
	margin: 0 auto;
}

@media (max-width: 1000px) {
	.detail_container {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}
}

.detail .row01 {
	padding: 200px 0;
}

.detail .title_box .category {
	font-size: 1.25rem;
	font-weight: 900;
	color: #333;
	text-transform: uppercase;
}

.detail .title_box h2 {
	font-size: 3.125rem;
	font-weight: 900;
	color: #333;
}

@media (max-width: 1000px) {
	.detail .title_box h2 {
		font-size: 1.875rem;
	}
}

.detail .title_box .content {
	font-size: 1rem;
	font-weight: 400;
	color: #333;
	margin: 25px 0;
}

.detail .detail_text {
	margin-top: 47px;
}

.detail .detail_text .tit {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #777;
}

.detail .detail_text .text {
	font-size: 1rem;
	font-weight: 500;
	color: #333;
	margin-bottom: 27px;
}

.detail .detail_text .text:last-child {
	margin-bottom: 0;
}

.detail .row02 {
	background-color: #e6fafb;
	padding-bottom: 150px;
}

.detail .row02 .img_box {
	margin-bottom: 70px;
}

.detail .row02 .img_box:last-child {
	margin-bottom: 0;
}

.detail .row02 .img_box img {
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .1);
	margin-bottom: 70px;
}

@media (max-width: 1400px) {
	.detail .row02 .img_box img {
	    width: 100% !important;
    	height: auto !important;
	}
}

.detail .row02 .top_minus img:first-child {
	margin-top: -118px;
}

/* 관리자 페이지 버튼 */
.admin_btn {
	margin-top: 50px;
}

.admin_btn button {
	width: 100px;
	padding: 10px 0;
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.admin_btn .modify_btn {
	background-color: #07368b;
	margin-right: 7px;
}

.admin_btn .delete_btn {
	background-color: #a70000;
}

.register_btn {
	text-align: right;
	margin-bottom: 10px;
}

.register_btn a {
	display: inline-block;
	width: 150px;
	padding: 10px 0;
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background-color: #53c5c5;
}


/******************************
	about
******************************/

.about {
	width: 1000px;
	margin: 0 auto;
}

@media (max-width: 1000px) {
	.about {
	    width: calc(100% - 20px);
    	margin-left: 10px;
    	margin-right: 10px;
	}
}

.about .content {
	font-size: 1.375rem;
	font-weight: 400;
	color: #333;
	margin-bottom: 45px;
}

@media (max-width: 420px) {
	.about .content {
		font-size: 1rem;
	}
}

.about .content span {
	font-weight: 700;
	position: relative;
	z-index: 1;
}

.about .content span::after {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #aceaea;
	position: absolute;
	left: 0;
	bottom: 5px;
	z-index: -1;
}

.about .about_box {
	background: url('../images/about_box.jpg') center center no-repeat;
	background-size: cover;
	padding: 75px 65px;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 60px;
}

@media (max-width: 420px) {
	.about .about_box {
	    padding: 75px 30px;
	}
}

.about .about_box::after {
	content: '';
	display: block;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	border: 1px solid #d3d3d3;
	opacity: 0.5;
	position: absolute;
	top: 10px;
	left: 10px;
}

.about .about_box .text {
	font-size: 1rem;
	font-weight: 400;
	color: #dedede;
}

.about .about_box .title {
	font-size: 1.625rem;
	font-weight: 100;
	color: #fff;
}

@media (max-width: 420px) {
	.about .about_box .title {
		font-size: 1.25rem;
	}
}

.about .about_box .title span {
	font-weight: 500;
}

.about .about_skill {
	text-align: center;
	margin-top: 100px;
}

.about_skill h3 {
	font-size: 1.75rem;
	font-weight: 700;
	color: #333;
	margin-bottom: 27px;
}

.skill_list::after {
	content: '';
	display: block;
	clear: both;
}

.skill_list li {
	float: left;
	width: 16.66%;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.skill_list li {
	   width: 25%;
	}
}

@media (max-width: 420px) {
	.skill_list li {
	   width: 50%;
	}
}

.skill_list li .grade_box {
	display: inline-block;
	position: relative;
}

.grade_box .box_detail {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	border-radius: 100%;
	color: #fff;
	-webkit-transition: .2s ease;
	transition: .2s ease;
	opacity: 0;
}

.grade_box:hover .box_detail {
	opacity: 1;
}

.grade_box .box_detail .tit {
	font-size: 1rem;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

/******************************
	sign up
******************************/

.login_wrap {
	width: 420px;
	margin: 0 auto;
}

@media (max-width: 420px) {
	.login_wrap {
		width: calc(100% - 20px);
		padding: 27px 10px;
	}
}

.input_box {
	margin-bottom: 15px;
}

.input_box input {
	width: 100%;
	height: 47px;
	border: 1px solid #333;
	box-sizing: border-box;
	padding: 0 3%;
}

.input_box .tit {
	font-size: 1rem;
	font-weight: 400;
	color: #333;
	margin-bottom: 7px;
}

.input_box textarea {
	width: 100%;
	border: 1px solid #333;
	box-sizing: border-box;
	padding: 3%;
}

.input_box input::placeholder {
	font-size: 1rem;
	font-weight: 400;
	color: #c5c5c5;
	padding-left: 35px;
}

.input_box.userId input::placeholder {
	background: url("../images/mail.png") center left no-repeat;
}
.input_box.userPass input::placeholder {
	background: url("../images/lock.png") center left no-repeat;
}
.input_box.userName input::placeholder {
	background: url("../images/person.png") center left no-repeat;
}
.input_box.userPhone input::placeholder {
	background: url("../images/phone.png") center left no-repeat;
}

.login_btn {
	width: 100%;
	padding: 20px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1.125rem;
	font-weight: 700;
	margin-top: 35px;
}

.go_signup {
	border-top: 1px solid #dcdcdc;
	margin-top: 20px;
	padding-top: 50px;
	font-size: 0;
}

.go_signup .text {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 148px);
	font-size: 1rem;
	font-weight: 400;
	color: #777;
	line-height: 1.4;
}

.go_signup .link {
	display: inline-block;
	vertical-align: middle;
	width: 148px;
	border: 1px solid #333;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: 400;
	color: #777;
	padding: 13px 0;
	text-align: center;
}

/******************************
	register
******************************/

.register_wrap {
	width: 720px;
	margin: 0 auto;
}

@media screen and (max-width: 720px) {
	.register_wrap {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
}

.register_wrap .input_box input::placeholder {
	padding-left: 0;
}

/* 셀렉트 박스 */

.select_box {
	font-size: 0;
	margin-bottom: 15px;
}

.select_box select {
	width: 49%;
	height: 47px;
	border: 1px solid #333;
	box-sizing: border-box;
	padding: 0 3%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/arrow_bottom.png") right 15px center no-repeat
}

.select_box select:first-child {
	margin-right: 1%;
}

.select_box select:last-child {
	margin-left: 1%;
}

/* 첨부파일 */

.register_wrap .file_box {
	margin-bottom: 15px;
}

.register_wrap .file_box::after {
  content: '';
  display: block;
  clear: both;
}

.register_wrap .file_box .tit {
	margin-bottom: 7px;
}

.register_wrap .file_box .upload-name {
	font-size: 1rem;
	font-weight: 400;
	color: #333;
	height: 47px;
	width: calc(100% - 148px);
	padding: 0 3%;
	border: 1px solid #333;
	box-sizing: border-box;
	background: #fff;
	outline: none;
}

.register_wrap .file_box label {
  float: right;
  display: inline-block;
  width: 133px;
  margin-left: 15px;
  padding: 11px 0;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  vertical-align: middle;
  background-color: #333;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
	.register_wrap .file_box label {
		padding: 14px 0;
	}
}

.register_wrap .file_box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.select_img {
	margin-top: 10px;
}

.realPath {
	display: none;
}

/******************************
	게시물 목록
******************************/

.admin {
	width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.admin {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
}

.admin_list {
	border-top: 2px solid #333;
}

.admin_list .num {
	width: 7%;
}
.admin_list .thumb {
	width: 10%;
}
.admin_list .category {
	width: 18%;
}
.admin_list .tit {
	width: 50%;
}
.admin_list .date {
	width: 15%;
}

@media screen and (max-width: 420px) {
	.admin_list .num,
	.admin_list .thumb,
	.admin_list .date,
	.admin_list .numtd,
	.admin_list .thumbtd,
	.admin_list .datetd {
		display: none;
	}
}

.admin_list th {
	padding: 15px 0;
	font-size: 1rem;
	font-weight: 400;
	color: #333;
	border-bottom: 1px solid #d2d2d2;
}

.admin_list td {
	padding: 20px 0;
	font-size: 1rem;
	font-weight: 400;
	color: #333;
	border-bottom: 1px solid #d2d2d2;
	text-align: center;
}

.admin_list td.title {
	text-align: left;
}

.admin_list td.title a {
	display: block;
	padding: 30px 0;
}

@media screen and (max-width: 420px) {
	.admin_list td.title a {
		padding: 0;
	}
}