<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.port.mappers.adminMapper">
	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.port.vo.CategoryVO">
		SELECT 1 AS LEVEL, cateName, cateCode, cateCodeRef FROM board_category WHERE cateCodeRef IS NULL
		UNION ALL
		SELECT 2 AS LEVEL, cateName, cateCode, cateCodeRef FROM board_category WHERE cateCodeRef IS NOT NULL
		ORDER BY cateCode
	</select>
	
	<!-- 게시물 등록 -->
	<insert id="register" parameterType="com.port.vo.BoardVO">
		INSERT INTO board (brdNum, brdName, cateCode, brdLink, brdDes1, brdDes2, brdImg, brdThumb)
		VALUES ((select max(brdNum)+1 from board ALIAS_FOR_SUBQUERY), #{brdName}, #{cateCode}, #{brdLink}, #{brdDes1}, #{brdDes2}, #{brdImg}, #{brdThumb})
	</insert>
	
	<!-- 게시물 목록 / index -->
	<!-- <select id="boardList" resultType="com.port.vo.BoardVO">
		SELECT brdNum, brdName, cateCode, brdLink, brdDes1, brdDes2, brdImg, brdDate
		FROM board
		ORDER BY brdNum desc
	</select> -->
	<select id="boardList" resultType="com.port.vo.BoardViewVO">
		SELECT bd.brdNum, bd.brdName, bd.brdLink, bd.brdDes1, bd.brdDes2, bd.brdDate, bd.cateCode
		, bc.cateName, bc.cateCodeRef, bd.brdImg, bd.brdThumb
			FROM board bd INNER JOIN board_category bc ON bd.cateCode = bc.cateCode
	</select>
	
	<!-- 게시물 상세 -->
	<!-- <select id="boardView" parameterType="int" resultType="com.port.vo.BoardVO">
		SELECT brdNum, brdName, cateCode, brdLink, brdDes1, brdDes2, brdImg, brdDate
		FROM board
		WHERE brdNum = #{brdNum}
	</select> -->
	
	<!-- 게시물 상세 + 카테고리 -->
	<select id="boardView" resultType="com.port.vo.BoardViewVO">
		SELECT bd.brdNum, bd.brdName, bd.brdLink, bd.brdDes1, bd.brdDes2, bd.brdDate, bd.cateCode
		, bc.cateName, bc.cateCodeRef, bd.brdImg, bd.brdThumb
			FROM board bd INNER JOIN board_category bc ON bd.cateCode = bc.cateCode
			WHERE bd.brdNum = #{brdNum}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="boardModify" parameterType="com.port.vo.BoardVO">
		UPDATE board
		SET brdName = #{brdName}, cateCode = #{cateCode}, brdLink = #{brdLink}
		, brdDes1 = #{brdDes1}, brdDes2 = #{brdDes2}, brdImg = #{brdImg}, brdThumb = #{brdThumb}
		WHERE brdNum = #{brdNum}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="boardDelete" parameterType="int">
		DELETE FROM board WHERE brdNum = #{brdNum}
	</delete>
	
</mapper>





























